parameters:
	ignoreErrors:
		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\ResetPassword\\\\Model\\\\ResetPasswordToken\\:\\:getExpirationMessageData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/ResetPasswordToken.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$resetRequestLifetime$#"
			count: 1
			path: src/ResetPasswordHelperInterface.php

