<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="vendor/autoload.php"
>

    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
            <exclude>tests/tmp</exclude>
            <exclude>tests/Fixtures</exclude>
        </testsuite>
        <testsuite name="unit">
            <directory>./tests/UnitTests</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./tests/FunctionalTests</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/IntegrationTests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
